@font-face{
    font-family: BentonRegular;
    src: url(/resource/BentonFont/benton-woff/benton-sans-regular/benton-sans-regular.woff);
}


.slds-card {
    background: #f6f6f6;
    border-radius: 3px;
    margin: 0px;
    /*font-family: 'BentonRegular';*/
    padding: 10px;
    color: #3b3b3b;
}  



.search-bar {
    display: block;
    margin: 0 0.5rem 0.3rem 0.5rem;
}

.content {
    display: grid;
    flex-wrap: wrap;
    /*font-family: 'BentonRegular';*/
    margin: 10px;
    color: #3b3b3b;
}

c-order-status-results-tile {
    flex-wrap: wrap;
    flex: 1;
}

:host {
    --slds-c-button-brand-color-background: #3278c8;
    --slds-c-button-brand-color-background-hover: #1e4878;
    --slds-c-button-brand-text-color: #FFFFFF;
    --slds-c-button-brand-text-color-hover: #FFFFFF;
    --slds-c-button-brand-color-border: #3278c8;
    --slds-c-button-brand-color-border-hover: #1e4878;
    --slds-c-button-radius-border: 15px;
}

.title {
    /*font-family: 'BentonRegular';
    font-style: normal;
    font-weight: bold;
    font-size: large;*/
    line-height: 25px;
    /*color: #3b3b3b;*/
    margin: 15px;
    color: var(--dxp-s-body-text-color);
    font-family: var(--dxp-s-body-font-family);
    font-size: calc(var(--dxp-s-body-font-size) + 2px);
    font-weight: bold;
    
}

p {
    /*font-family: 'BentonRegular';*/
    font-size: small;
    color: #3b3b3b;
    margin-top: 15px;
    margin-left: 5px;

}

.medium {
    /*font-family: 'BentonRegular';
    font-size: medium;
    color: #3b3b3b;*/
    color: var(--dxp-s-body-text-color);
    font-family: var(--dxp-s-body-font-family);
    font-size: var(--dxp-s-body-font-size);
    font-weight: var(--dxp-s-body-font-weight);

}

.colorpop {
    --slds-c-badge-color-background: #00866b;
    --slds-c-badge-text-color: #FFFFFF;
    --slds-c-badge-radius-border: 5px;
    --slds-c-badge-font-size: 24;

}

.shipped {
    --slds-c-badge-color-background: #e6f3f0;
    --slds-c-badge-text-color: #00866B;
    --slds-c-badge-radius-border: 3px;

}

.backordered {
    --slds-c-badge-color-background: #FBEAE6;
    --slds-c-badge-text-color: #DB2E00;
}

.accent{
    /*font-family: 'BentonRegular';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #9C0D63;}