@font-face{
    font-family: BentonRegular;
    src: url(/resource/BentonFont/benton-woff/benton-sans-regular/benton-sans-regular.woff);
}


p {
    /*font-family: 'BentonRegular';*/
    color: #3b3b3b;
    font-size: small;
}

.small {
    /*font-family: 'BentonRegular';
    color: #3b3b3b;
    font-size: small;*/
    color: var(--dxp-s-body-text-color);
    font-family: var(--dxp-s-body-font-family);
    font-size: var(--dxp-s-body-small-font-size);
    font-weight: var(--dxp-s-body-font-weight);
}

.medium {
    /*font-family: 'BentonRegular';
    color: #3b3b3b;
    font-size: medium;*/
    color: var(--dxp-s-body-text-color);
    font-family: var(--dxp-s-body-font-family);
    font-size: var(--dxp-s-body-font-size);
    font-weight: var(--dxp-s-body-font-weight);
}

.medium2 {
    /*font-family: 'BentonRegular';
    color: #3b3b3b;
    font-size: medium;
    display: inline-block;
    font-weight: bold;*/
    color: var(--dxp-s-body-text-color);
    font-family: var(--dxp-s-body-font-family);
    font-size: var(--dxp-s-body-font-size);
    font-weight: bold;
}

.shadedbox {
    background-color: #ebf2fa;
    border-radius: 3px;
    margin: 15px;
    padding: 10px;
    /*font-family:'BentonRegular';
    color: #3B3B3B;
    font-size: medium;*/
    color: var(--dxp-s-body-text-color);
    font-family: var(--dxp-s-body-font-family);
    font-size: var(--dxp-s-body-font-size);
    font-weight: var(--dxp-s-body-font-weight);
}

.title {
    /*font-family:'BentonRegular';*/
    font-style: normal;
    font-weight: bold;
    font-size: large;
    line-height: 25px;
    color: #3b3b3b;
}
.title2 {
    /*font-family:'BentonRegular';*/
    font-style: normal;
    font-weight: bold;
    font-size: large;
    line-height: 25px;
    color: #3b3b3b;
    display:inline-block;
}