@font-face{
    font-family: BentonRegular;
    src: url(/resource/BentonFont/benton-woff/benton-sans-regular/benton-sans-regular.woff);
}


img.product {
    height: 80px;
    max-width: initial;
    pointer-events: none;
}


p {
/*    font-family: 'BentonRegular';  */
    font-size: medium;
    color: #3b3b3b;

}